arandr==0.1.9
certifi==2017.4.17
chardet==3.0.4
click==6.7
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
gps==2.95
idna==2.5
itsdangerous==0.24
Jinja2==2.10
lxml==3.7.0
MarkupSafe==1.0
numpy==1.9.2
pycairo==1.16.2
pylast==0.5.11
pysqlite==2.8.3
requests==2.18.4
scipy==0.16.1
SQLAlchemy==1.2.4
urllib3==1.22
virtualenv==15.1.0
Werkzeug==0.15.3
